<div class="container">
  <div class="row my-pronos mt-3">
    <div class="col-9 d-flex flex-column align-items-center">
      <div class="matches">
        <%= render 'shared/forecasts_list' %>
      </div>
    </div>

    <div class="col-3">
      <div class="classement">
        <h1 class="text-center">Classement</h1>
        <div class="table-ranking border border-secondary p-2 my-3">
          <%= render 'shared/table_ranking' %>
        </div>

        <%= link_to @league.competition.name, @league.competition, class: "btn btn-outline-warning" %>

      </div>
    </div>
  </div>
</div>
