// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Additionnal colors
$discord-green:    rgba(  0, 183, 129, 1);
$discord-orange:   rgba(255, 163,   7, 1);
$discord-red:      rgba(255,  57,  69, 1);
$discord-blue:     rgba(107, 138, 219, 1);
$codingame-yellow: rgba(255, 209,   0, 1);

// Shades of grey from Discord
$gray-0:   rgba(255, 255, 255, 1);
$gray-100: rgba(219, 220, 221, 1);
$gray-200: rgba(185, 187, 190, 1);
$gray-300: rgba(141, 146, 151, 1);
$gray-400: rgba(113, 118, 125, 1);
$gray-500: rgba( 57,  61,  67, 1);
$gray-510: rgba( 53,  57,  63, 1);
$gray-511: rgba( 53,  55,  61, 1);
$gray-600: rgba( 47,  49,  54, 1);
$gray-700: rgba( 32,  34,  37, 1);
$gray-800: rgba( 24,  25,  28, 1);
$gray-999: rgba(  0,   0,   0, 1);

// Navbar
$navbar-bg:              $gray-700;
$navbar-txt:             $gray-0;

// Searchbar
$searchbar-bg:           $gray-700;
$searchbar-placeholder:  $gray-400;
$searchbar-text:         $gray-0;

// Darker sections, first level background (with cards, no buttons)
$tier1-bg:               $gray-600;
$tier1-bg-hover:         $gray-511;
$tier1-bg-selected:      $gray-500;
$tier1-txt:              $gray-300;
$tier1-txt-selected:     $gray-0;
$tier1-card-bg:          $gray-700;
$tier1-card-bg-hover:    $gray-800;

// Lighter section, second level background (no cards, with buttons)
$tier2-bg:               $gray-510;
$tier2-bg-hover:         $gray-500;
$tier2-txt:              $gray-0;
$tier2-txt-subtitle:     $gray-200;
$tier2-button:           $gray-600;
$tier2-button-txt:       $gray-200;
$tier2-button-hover:     $gray-700;
$tier2-button-txt-hover: $gray-100;
