<% if  competition.upcoming? %>
  <p class="competition-status-upcoming"><i class="fas fa-circle"></i> à venir</p>
<% elsif competition.live? %>
  <p class="competition-status-ongoing"><i class="fas fa-circle"></i> en cours</p>
  <% elsif competition.finished? %>
  <p class="competition-status-finished"><i class="fas fa-circle"></i> terminé</p>
<% end %>
