<div class="container">
  <div class="row justify-content-around mt-4 border border-primary">
    <div class="col-12 border rounded border-secondary">
      <%= @user.username %>
      <%#= render 'buttons/new_league' %>
      <%= link_to "HOME", root_path %>
    </div>
  </div>
</div>
