<div class="bell <%= suppl_class %>">

  <div class="ring-left">
    <i class="fas fa-wifi"></i>
  </div>
  
  <div class="bell-ring">
    <i class="fas fa-bell"></i>
  </div>

  <div class="ring-right">
    <i class="fas fa-wifi"></i>
  </div>

</div>
