<div class="card text-center my-card">
  <div class="card-body">
    <h3 class="card-title">Rejoins la Ligue Générale</h3>
    <p>
      <%= league.users.count %>
      <i class="fas fa-user-friends"></i>
    </p>
  </div>
</div>
