<div class="searchbar">
  <%= simple_form_for :search, url: root_path, method: :get do |f| %>
    <%= f.input_field :query, label: false, placeholder: 'Search competitions!', class: "search-input" %>
  <% end %>
</div>
