<div class="search-element">
  <%= simple_form_for :search, method: :get do |f| %>
    <%= f.input_field :query, autocomplete: 'off', label: false, placeholder: 'Search competitions!', class: "search-input" %>
  <% end %>
</div>
