<%= link_to competition_path(competition), class: "search-card-link" do %>
<div class="search-element">
  <%= image_tag competition.game.logo ,class: 'result-image', alt: "alttext" %>
  <div class="search-result">
    <div><h3><%= competition.name %></h3></div>
  </div>
</div>
<% end %>
