<div class="search-element">
  <%= simple_form_for :search, method: :get do |f| %>
    <%= f.input_field :query, label: false, autocomplete: 'off', placeholder: 'Recherche une compétition', class: "search-input" %>
  <% end %>
</div>
