<div class="row">
  <div class="col-12">

    <div class="landing-page text-center d-flex flex-column justify-content-center">
      <h1>Bienvenue sur PronostkR</h1>
      <div class="actions">
        <%= link_to "S'inscrire", new_user_registration_path %> ou <%= link_to "Se connecter", new_user_session_path %>
      </div>
    </div>

  </div>
</div>
