<div class="row">
  <div class="col-12">
    <h1>Pages#home / Amusons-nous avec les composants</h1>
    <p>Find me in app/views/pages/home.html.erb</p>
  </div>
</div>

<div class="row">
  <div class="col-12">

    ROBIN

  </div>
</div>

<div class="row">
  <div class="col-12">

    MAXIME

  </div>
</div>

<div class="row">
  <div class="col-12">

    ALEX

  </div>
</div>

<div class="row">
  <div class="col-12">

    PILOU

  </div>
</div>
