<% if match.finished? %>
  <p class="status-finished"><i class="fas fa-circle"></i> Terminé !</p>
<% elsif match.live? %>
  <p class="status-ongoing"><i class="fas fa-circle"></i> En cours</p>
<% elsif match.upcoming? %>
  <%= render 'forecasts/countdown' %>
<% end %>
