<% if (match.team_matches[0].is_winner != nil) %>
  <p class="status-finished"><i class="fas fa-circle"></i> Terminé !</p>
<% elsif (Time.now > match.scheduled_time) %>
  <p class="status-ongoing"><i class="fas fa-circle"></i> En cours</p>
<% elsif (Time.now < match.scheduled_time) %>
  <%= render 'forecasts/countdown' %>
<% end %>
