.my-card {
	width: 18rem;
	background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), image-url('friends.png');
  background-size: cover;
  color: $golden-yellow;
  transition: text-shadow 0.3s;
  border-radius: 2px;

	&:hover {
		text-shadow: 0px 0px 15px $golden-yellow, 0px 0px 15px $golden-yellow;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), image-url('friends.png');
	}

	// h3 {
	// 	color: $gray-700;

	// 	&:hover {
	// 		color: $gray-800;
	// 	}
	// }
}


.general-league-card {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), image-url('crowd.png');
  background-size: cover;
  width: 18rem;
  color: $golden-yellow;
  transition: text-shadow 0.3s;
  border-radius: 2px;
  // transition: background-image 0.8s;

  &:hover {
    text-shadow: 0px 0px 15px $golden-yellow, 0px 0px 15px $golden-yellow;
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), image-url('crowd.png');
    // transition: background-image 0.8s;
    transition: text-shadow 0.25s;
  }
  // .fa-user-friends {

  // }

//   h3 {


//     &:hover {

//     }
//   }
}
