.my-card {
	width: 18rem;
	background: $gray-200;

	&:hover {
		background: $gray-100;
	}

	h3 {
		color: $gray-700;

		&:hover {
			color: $gray-800;
		}
	}
}

.new-league-card {
	background: $tier1-card-bg;
	box-shadow: 0 0 5px $gray-400;
}
