.my-card {
	width: 18rem;
	background: $gray-200;

	&:hover {
		background: $gray-100;
	}

	h3 {
		color: $gray-700;

		&:hover {
			color: $gray-800;
		}
	}
}


.general-league-card {
  background-image: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.9)), image-url('crowd.png');
  background-size: cover;
  background-position: bottom 80px;
  width: 18rem;
  transition: background-image 0.8s;

  &:hover {
    background-image: linear-gradient(rgba(0,0,0,0.75), rgba(0,0,0,0.75)), image-url('crowd.png');
    transition: background-image 0.8s;
  }

  h3 {
    color: $golden-yellow;
    transition: text-shadow 1s;

    &:hover {
      text-shadow: 0px 0px 15px #006cff, 0px 0px 15px #006cff;
    }
  }
}
