.competition-banner-img {
  background-size: cover;
  background-position: center;
}

.lol-competition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), asset-url("games/lol-banner.jpg");
}

.cs-go-competition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), asset-url("games/cs-go-banner.jpg");
}

.overwatch-competition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), asset-url("games/overwatch-banner.jpg");
}

.rocket-competition {
  background-image: linear-gradient(rgba(0, 0, 0, 0.55), rgba(0, 0, 0, 0.55)), asset-url("games/rocket-banner.jpg");
}

.lol-league {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), asset-url("games/lol-banner.jpg");
}

.cs-go-league {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), asset-url("games/cs-go-banner.jpg");
}

.overwatch-league {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), asset-url("games/overwatch-banner.jpg");
}

.rocket-league {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), asset-url("games/rocket-banner.jpg");
}

.competition-banner {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
  padding: 8px 0px;
  color: $gray-100;
}

.banner-head {
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }

  .btn-outline-warning {
    background: rgba(0, 0, 0, 0.5);
    font-weight: bold;
    margin-left: 24px;

    &:hover {
      background-color: $golden-yellow-transparent;
    }
  }
}

.competition-status {
  align-items: baseline;
  border: 2px solid $discord-red;
  padding: 8px 8px 4px 8px;
  margin-right: 8px;

  .fa-circle {
    color: $discord-red;
    font-size: 14px;
    margin-right: 4px;
  }

  span {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.game-logo {
  height: 70px;
}

.competition-infos {
  display: flex;
  margin: 24px 0;

  p {
    margin-bottom: 0;
  }
}

.first-item {
  padding-right: 20px;
}

.middle-item {
  padding: 0 20px;
  border-left: 1px solid $gray-400;
}

.last-item {
  padding-left: 20px;
  border-left: 1px solid $gray-400;
}

.item-head {
  font-size: 14px;
  color: $gray-200;
}

.item-content {
  font-weight: bold;
  font-size: 18px;
}
