.competition-banner-img {
  background-size: cover;
  background-position: center;
}

.lol {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("games/lol-banner.jpg");
}

.cs-go {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("games/cs-go-banner.jpg");
}

.overwatch {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("games/overwatch-banner.jpg");
}

.rocket {
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("games/rocket-banner.jpg");
}

.competition-banner {
  display: flex;
  flex-direction: column;
  margin: 0 0 24px 0;
  padding: 8px 0px;
  color: $gray-100;
}

.banner-head {
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.competition-status {
  align-items: baseline;
  border: 2px solid $discord-red;
  padding: 8px 8px 4px 8px;
  margin-right: 8px;

  .fa-circle {
    color: $discord-red;
    font-size: 14px;
    margin-right: 4px;
  }

  span {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.game-logo {
  height: 70px;
}



.competition-infos {
  display: flex;
  margin: 24px 0;

  p {
    margin-bottom: 0;
  }
}

.first-item {
  padding-right: 20px;
  border-right: 1px solid $gray-400;
}

.second-item {
  padding: 0 20px;
}

.third-item {
  padding-left: 20px;
  border-left: 1px solid $gray-400;
}

.item-head {
  font-size: 14px;
  color: $gray-300;
}

.item-content {
  font-weight: bold;
  font-size: 18px;
}
