.competition-banner {
  // background-image: url("https://steamcdn-a.akamaihd.net/steam/subs/54029/header_586x192.jpg?t=1544227353");
  background-image: linear-gradient(rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.65)), url("https://pic.clubic.com/v1/images/1775169/raw?width=1200&fit=max&hash=73e51752cc8a9f17d18e110229fae45e2e28a9ba");
  background-size: cover;
  background-position: top;
  display: flex;
  flex-direction: column;
  margin: 0 0 150px 0;
  padding: 8px 16px;
  color: $tier2-button-txt-hover;
}

.banner-head {
  align-items: center;
  justify-content: space-between;

  h2 {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.competition-status {
  align-items: baseline;
  border: 2px solid $discord-green;
  // padding: 8px;
  padding: 8px 8px 4px 8px;
  margin-right: 8px;

  .fa-circle {
    color: $discord-green;
    margin-right: 4px;
  }

  span {
    margin-bottom: 0;
    font-weight: bold;
  }
}

.game-logo {
  height: 70px;
}

.competition-infos {
  display: flex;
  margin: 24px 0;

  p {
    margin-bottom: 0;
  }
}

.first-item {
  padding-right: 16px;
  border-right: 1px solid $searchbar-placeholder;
}

.second-item {
  padding: 0 16px;
  border-right: 1px solid $searchbar-placeholder;
}

.third-item {
  padding-left: 16px;
}

.item-head {
  font-size: 14px;
}

.item-content {
  font-weight: bold;
  font-size: 18px;
}
