$footer-height: 50px;

.footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: $footer-height;
  padding: 0 2rem;
  background: $navbar-bg;
  color: $navbar-txt;
}

.footer-copyright p, .footer-phrase p{
  margin: 0;
  font-family: $headers-font;
}

.footer-copyright {
  color: $navbar-link-txt;
  
  .fa-heart {
    color: $discord-red;
  }
}

.footer-phrase a {
  text-decoration: none;
  color: $gray-600;

  &:hover {
    color: $gray-500;
  }
}

.footer-links {
  display: flex;
  align-items: center;

  a {
    color: $navbar-link-txt;
    text-decoration: none;
    padding: 0 1rem;
    font-size: 1.4rem;
  }

  a:hover {
    color: $golden-yellow;
  }
}

