.league-link {
  width: 350px;
  margin: 0 16px 16px 0;

  &:hover {
    text-decoration: none;
  }
}

.league-card {
  background-size: cover;
  color: $tier1-txt;
  width: 350px;
  padding: 24px;

  .league-title, .league-game, .league-competition, .league-slug {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .league-title {
    color: $golden-yellow;
    margin-bottom: 0;
    font-weight: bold;
  }

  .league-game, .league-competition {
    margin-bottom: 8px;
    max-width: 300px;
  }

  .league-slug {
    color: $golden-yellow;
    margin-bottom: 0;
    max-width: 200px;
  }

  .league-members-count {
    color: $discord-blue;
    margin-bottom: 0;
  }
}

.league-img-cs {
    background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), asset-url("games/cs-go-banner.jpg");

  &:hover {
    color: $tier1-txt-selected;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), asset-url("games/cs-go-banner.jpg");
  }
}

.league-img-rl {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), asset-url("games/rocket-banner.jpg");

  &:hover {
    color: $tier1-txt-selected;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), asset-url("games/rocket-banner.jpg");
  }
}

.league-img-ow {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), asset-url("games/overwatch-banner.jpg");

  &:hover {
    color: $tier1-txt-selected;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), asset-url("games/overwatch-banner.jpg");
  }
}

.league-img-lol {
  background-image: linear-gradient(rgba(0,0,0,0.65), rgba(0,0,0,0.65)), asset-url("games/lol-banner.jpg");

  &:hover {
    color: $tier1-txt-selected;
    background-image: linear-gradient(rgba(0,0,0,0.8), rgba(0,0,0,0.8)), asset-url("games/lol-banner.jpg");
  }
}
