.navbar-lewagon {
  justify-content: space-between;
  background: $navbar-bg;
  color: $navbar-txt;

  .navbar-brand {

    img {
      width: 40px;
    }

    h3 {
      color: $golden-yellow;
      font-weight: bold;
      text-shadow: 0 0 10px $gray-999;
      margin: 0 15px;
    }
  }

  .navbar-nav {
    align-items: center;
  }

  .nav-link {
    color: $navbar-link-txt !important;

    &:hover {
      color: $navbar-link-txt-hover !important;
    }
  }

  .fa-circle {
    font-size: 10px;
    color: $red;
    vertical-align: 2px;;
  }

  .live-btn-2 {
    padding: 2px 6px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: $red;
    color: $gray-0 !important;
  }

  #navbarDropdown {
    margin-left: 12px;
  }

  img#navbarDropdown.avatar.dropdown-toggle:hover{
    cursor: pointer
  }
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

#page_title {
  font-family: 'Play', sans-serif;;
  color: $golden-yellow;
  font-size: 24px;
}
