.search-card-link:hover {
  text-decoration: none;
}

.search-element {
  display: flex;
  align-items: center;
  max-width: 80%;

  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: $searchbar-bg;
  transition: background-color 0.3s;
  padding-left: 10px;
  box-shadow: 5px 5px 5px black;
  // margin: 0px, auto;

    &:hover {
    background-color: $tier1-bg-hover;
    // border: solid 1px $searchbar-bg;
    transition: 0.25s;
  }
}

.simple_form, search {
  width: 100%;
}

.search-input {

  width: 100%;
  border: none;
  background-color: transparent;
  color: $searchbar-text;
  padding-left: 10px;
  outline: none;

  &::placeholder {
    color: $searchbar-placeholder;
  }

}

.result-image {
  position: relative;
  border-radius: 5px;
  height: 80%;
  box-shadow: 5px 5px 5px black;
}

.search-result {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  max-width: 100%;
  width: 500px;
  display: flex;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: transparent;
  color: $searchbar-text;
  padding-left: 10px;
  overflow: hidden;
}
