
.searchbar {
  display: flex;
  justify-content: center;
  justify-content: space-between;
  max-width: 80%;

  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: $searchbar-bg;
  transition: background-color 0.4s;
  padding-left: 10px;
  box-shadow: 5px 5px 5px black;

    &:hover {
    background-color: $tier1-bg-hover;
    // border: solid 1px $searchbar-bg;
    transition: 0.3s;
  }
}

.search-input {

  justify-content: space-between;
  width: 100%;
  font-size: 22px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: transparent;
  color: $searchbar-text;
  padding-left: 10px;


  &::placeholder {
    color: $searchbar-placeholder;
  }

}

.result-image {
  position: relative;
  border-radius: 5px;
  width: 56px;
}

.search-result {
  max-width: 80%;
  width: 500px;
  display: flex;
  align-items: center;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: $searchbar-bg;
  color: $searchbar-text;
  transition: background-color 0.4s;
  padding-left: 10px;
  box-shadow: 5px 5px 5px black;

  &:hover {
    background-color: $tier1-bg-hover;
    // border: solid 1px $searchbar-bg;
    transition: 0.3s;
  }
}
