@mixin optional-at-root($sel) {
  @at-root #{if(not &, $sel, selector-append(&, $sel))} {
    @content;
  }
}

@mixin placeholder {
  @include optional-at-root('::-webkit-input-placeholder') {
    @content;
  }

  @include optional-at-root(':-moz-placeholder') {
    @content;
  }

  @include optional-at-root('::-moz-placeholder') {
    @content;
  }

  @include optional-at-root(':-ms-input-placeholder') {
    @content;
  }
}

.searchbar {
  display: flex;
  justify-content: center;
}

.search-input {
  max-width: 80%;
  width: 500px;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: $searchbar-bg;
  color: $searchbar-text;
  transition: background-color 0.4s;
  padding-left: 10px;
  box-shadow: 5px 5px 5px black;

  @include placeholder {
    color: $searchbar-placeholder;
  }

  &:hover {
    background-color: $tier1-bg-hover;
    // border: solid 1px $searchbar-bg;
    transition: 0.3s;
  }
}

.search-result {
  display: flex;
  font-size: 22px;
  border-radius: 5px;
  border: none;
  height: 70px;
  line-height: 70px;
  background-color: $searchbar-bg;
  color: $searchbar-text;
  transition: background-color 0.4s;
  padding-left: 10px;
  box-shadow: 5px 5px 5px black;

  @include placeholder {
    color: $searchbar-placeholder;
  }

  .result-image {
    position: relative;
    border-radius: 5px;
    max-width: 90%;
    max-height: 90%;
  }

  &:hover {
    background-color: $tier1-bg-hover;
    // border: solid 1px $searchbar-bg;
    transition: 0.3s;
  }
}
